header{
    background-color: #03AED2;
    height: 135px;
  }

  .juntarLogo{
    width: 45%;
    margin-left: 24%;
  }

  .linkbolo{
    text-align: center;
  }

  .linkpanquecas{
    text-align: center;
  }
  
  #batedeira{
    height: 135px;
    float: left;
  }

  .titulo{
    color: #EEF7FF;
    font-size: 3rem;
    text-align: center;
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .darkorange{
    background-color: darkorange;
    color: darkorange;
  }

  .flex-container{
    display:flex;
    flex-direction: row;
  }
  